PORT_SERVER=PUERTO DEL API
PORT_DB=PUERTO DE CONN DB
SERVER_DB=SERVIDOR DE CONN DB
USER_DB=USUARIO DE CONN DB
PASS_DB=PASS DE CONN DB
EXTERNAL_API=URL DEL API EXTERNO
TOKEN_EXTERNAL_API=TOKEN DE CONN AL API EXTERNO
ENVIRONMENT=PRD | DEV INDICA EL AMBIENTE APLICA PARA LOGS